/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  font-family: "Roboto", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Шапка */
.header {
  font-family: "Montserrat", serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-color: #ffdda7;
  padding: 20px 0 0 0;
  color: #2d2d2d;
}

.main_container__upper_container {
  display: flex;
  align-items: center;
  gap: 5vw;
}

/* Шапка > Навигация */

.nav__ul_container {
  display: flex;
  gap: 3vw;
  list-style: none;
}

.ul_container__li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.ul_container__li:hover:after {
  width: 100%;
  background: #2d2d2d;
}

.li__link {
  font-weight: bold;
  color: #2d2d2d;
}

/* Шапка > Телефон */
.upper_container__phone_container {
  display: grid;
  align-items: center;
  column-gap: 9px;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr;
}

.phone_container__phone_icon {
  grid-column: 1;
}

.phone_container__phone_number {
  grid-column: 2;
  font-weight: bold;
  font-size: 16px;
}

.phone_container__arrow {
  grid-column: 3;
}

.phone_container__order {
  justify-self: end;
  grid-column: 2;
  grid-row: 2;
  font-size: 12px;
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  border-bottom-style: dashed;
  width: fit-content;
  padding-bottom: 2px;
}

.main_container__team_photo {
  position: absolute;
  bottom: 0;
  left: 39%;
  mix-blend-mode: multiply;
}

.main_container__main_text {
  display: inline-block;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin-top: 192px;
  margin-bottom: 300px;
}
