/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  font-family: "Roboto", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Шапка */
.header {
  font-family: "Montserrat", serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-color: #ffdda7;
  padding: 20px 0 0 0;
  color: #2d2d2d;
}

.header__main_container__upper_container {
  display: flex;
  align-items: center;
  gap: 3vw;
}

/* Шапка > Навигация */

.header__nav__ul_container {
  display: flex;
  gap: 3vw;
  list-style: none;
}

.header__ul_container__li:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.header__ul_container__li:hover:after {
  width: 100%;
  background: #2d2d2d;
}

.header__li__link {
  font-weight: bold;
  color: #2d2d2d;
}

/* Шапка > Телефон */
.header__upper_container__phone_container {
  display: grid;
  align-items: center;
  column-gap: 9px;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr;
}

.header__phone_container__phone_icon {
  grid-column: 1;
}

.header__phone_container__phone_number {
  grid-column: 2;
  font-weight: bold;
  font-size: 16px;
}

.header__phone_container__arrow {
  grid-column: 3;
}

.header__phone_container__order {
  justify-self: end;
  grid-column: 2;
  grid-row: 2;
  font-size: 12px;
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  border-bottom-style: dashed;
  width: fit-content;
  padding-bottom: 2px;
}

.header__main_container__team_photo {
  position: absolute;
  bottom: 0;
  left: 39%;
  mix-blend-mode: multiply;
}

.header__main_container__main_text {
  display: inline-block;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin-top: 192px;
  margin-bottom: 300px;
}

/* Первый контейнер */
.services {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  overflow: hidden;
}

.services__title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.services__main_container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px 400px 400px;
  padding: 0 5% 200px 5%;
}

/* Контейнеры с контентом */
.services__main_image {
  z-index: -1;
  position: absolute;
  top: 100px;
}

.services__main_container__content_block {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.services__main_container__safety {
  grid-row: 1;
  grid-column: 2;
}

.services__main_container__labor_protection {
  grid-row: 2;
  grid-column: 1;
}

.services__main_container__learning_staff {
  grid-row: 3;
  grid-column: 2;
}

.services__main_container__training_for_personas {
  grid-row: 4;
  grid-column: 1;
}

.services__content_block__title {
  text-transform: uppercase;
  margin: 0;
}

.services__content_block__text {
  line-height: 150%;
}

.services__content_block__more_button {
  align-self: flex-end;
  text-align: end;
  justify-self: flex-end;
  font-size: 14px;
  padding: 11px 26px;
  border: 1px solid #dc911b;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.services__content_block__more_button:hover {
  background-color: #dc911b;
  color: white;
}

.services__main_container__content_block:nth-child(odd) {
  margin-right: 15vw;
}

.services__main_container__content_block:nth-child(even) {
  margin-left: 15vw;
}

/* Отзывы клиентов */
.reviews {
  position: relative;
  background-color: #3e3e3d;
  padding: 0 0 70px 10vw;
  overflow: hidden;
}

.reviews__title {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  padding-top: 125px;
  margin-left: 288px;
  margin-bottom: 116px;
}

.reviews__main_content {
  z-index: 2;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__main_content__documents {
  display: flex;
  gap: 47px;
}

.reviews__main_content__slider_buttons {
  display: flex;
  margin-top: 40px;
}

.reviews__main_content__slider_buttons__btn {
  width: 37px;
  height: 37px;
}

.reviews__main_content__btn_2__arrow {
  rotate: 180deg;
}

.reviews__main_content__slider_buttons__btn {
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
}

.reviews__main_content__slider_buttons__btn_1 {
  background-color: #c4c4c4;
}

.reviews__main_content__slider_buttons__btn_2 {
  background-color: #dc911b;
  transition: .2s;
}

.reviews__main_content__slider_buttons__btn_2:hover {
  background-color: white;
  border: 1px solid #dc911b;
}

.reviews__main_content__slider_buttons__btn_2:hover .reviews__btn_2__arrow {
  filter: invert(73%) sepia(24%) saturate(2389%) hue-rotate(344deg)
    brightness(88%) contrast(96%);
}

.reviews__main_content__show_all {
  position: absolute;
  bottom: 0;
  right: 24px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.reviews__human {
  position: absolute;
  top: -20px;
  left: 800px;
}
